*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #f7f7f7; }

* {
  font-family: "Raleway", sans-serif; }

h1 {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  font-size: 5rem; }

h2 {
  margin: 1rem;
  color: #445566; }

.about {
  width: 80%;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem; }
  .about__summary {
    text-align: center;
    height: 350px; }
  .about__skills {
    padding: 1rem;
    text-align: center; }
    .about__skills img {
      padding: 1rem;
      height: 100px;
      margin-top: 8px;
      vertical-align: middle; }

.header {
  height: 80vh; }
  .header__developer {
    color: #fff;
    letter-spacing: 0.3rem;
    font-size: 1.2rem; }
  .header__name {
    margin: 20% auto;
    width: 60%; }
  .header__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden; }

.navigation {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%; }
  .navigation span {
    display: inline-block;
    color: #fff;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer; }
    .navigation span:hover {
      text-decoration: underline; }
